<!DOCTYPE html>
<html>

<head>
  <% include head %>
</head>

<body>
  <% include nav %>
    <div class="container">
      <h1>
        <%= title %>
      </h1>
      <p>Welcome to <%= title %></p>
    </div>

<footer class="footer">
    <% include footer %>
</footer>

<% include bootstrapjs %>

</body>

</html>